body {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
    color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
    outline: red dotted 1px;
}

.main-header {
    padding-top: 27px;
    padding-bottom: 34px;
    outline: black dotted 1px;
}

.logo-header {
    width: 139px;
    height: 56px;
    float: left;
}

.main-navigation {
    width: 450px;
    float: left; 
}

.main-navigation li {
    display: inline;
}

.user-block {
    width: 90px;
    float: right;
}

.wrapper-slider {
    min-height: 274px;
    padding-top: 45px;
    margin: 0 auto;
    margin-bottom: 80px;
    outline: black dotted 1px;
}

.slider-content {
    width: 380px;
    float: left;
    outline: black dotted 1px;
}

.slider-control {
    width: 60px;
    margin: 0 auto;
    margin-top: 230px;
    outline: black dotted 1px;
}

.product-wrapper {
    width: px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.product-block {
    width: 240px;
    min-height: 300px;
    float:left;
    margin-right: 80px;
    outline: black dotted 1px;
}

.product-block:last-child {
    margin-right: 0px;
}

.promo-block {
    margin: 0 auto;
    margin-bottom: 119px;
    outline: black dotted 1px;
}

.studio-info-left {
    width: 620px;
    float: left;
    outline: black dotted 1px;
}

.studio-info-right {
    width: 230px;
    float: right;
    padding: 0 10px;
    outline: black dotted 1px;
}

.logo-promo {
    width: 185px;
    height: 75px;
    display: block;
    margin-left: 33px;
}

.portfolio {
    padding-top: 44px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 85px;
    font-size: 0;
    text-align: center;
    outline: black dotted 1px;
}

.portfolio a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 120px;
    outline: black dotted 1px;
}

.portfolio a:last-child {
    margin-right: 0px
}

.main-footer {
    margin: 0 auto;
    outline: black dotted 1px;
}

.map {
    width: 100%;
    min-height: 415px;
    margin: 0 auto;
    margin-bottom: 2px;
    outline: black dotted 1px;
}

.map-canvas {
    width: 100%;
    min-height: 415px;
    position: relative;
    outline: black dotted 1px;
}

.map-info {
    float:left;
    width: 250px;
    position: absolute;
    outline: black dotted 1px;
    top: 88px;
    left: 325px;
}

.contacts {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 0;
    text-align: center;
}

.social {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.social a {
    margin-right: 25px;
}

.social a:last-child {
    margin-right: 0px;
}

.footer-promo {
    width: 590px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-align: left;
}

.footer-promo b {
    font-size: 36px;
}

.write-form {
    width: 630px;
    height: 418px;
    float: left;
    outline: black dotted 1px;
    position: absolute;
}

/*CATALOG*/

.page-name {
    width: 720px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 98px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    outline: black dotted 1px;
}

.sidebar {
    width: 240px;
    min-height: 700px; /*Уберу, когда буду форматировать*/
    padding-top: 20px;
    float:left;
    outline: black dotted 1px;
}

.range-filter {
    width: 240px;
    outline: black dotted 1px;
}

.range-controls {
    position: relative;
    height: 80px;
    padding: 0 20px;
    margin-bottom: 14px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.bar {
    height: 2px;
    background: #00ca74;
}

.toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}

.min-toggle{
    left: 20px;
    box-shadow: 0px 1px 4px 0px #ababab;
}

.max-toggle{
    left:160px;
    box-shadow: 0px 1px 4px 0px #ababab;
}

.min-price, .max-price{
    width: 60px;
    padding:8px 10px;
    margin-left: 12px;
    margin-bottom: 45px;
    border:none;
    background:#d7dcde;
    text-align:center;
    color:#283136;
    border-radius:5px;
}

.min-price{
    margin-right: 17px;
}

.sidebar label {
    display: block;
}

.sort span {
    width: 105px;
    float: left;
    margin-right: 20px;
}

.sort li {
    display: inline;
    margin-right: 40px;
}

.catalog-wrapper {
    width: 560px;
    float: right;
    padding-left: 10px;
    margin-bottom: 75px;
    outline: black dotted 1px;
}

.product {
    width: 240px;
    float: left;
    position: relative;
    margin-right: 80px;
    margin-bottom: 60px;
}

.product:nth-child(even) {
    margin-right: 0px;
}

.dot-line {
    width: 100%;
    height: 30px;
    background: #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dot-line li {
    display: inline;
}

.product-price {
    width: 140px;
    min-height: 200px;
    background: #ffffff;
    position: absolute;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    left: 20px;
    bottom: 25px;
}

.product-price h1 {
    font-size: 18px;
    text-transform: uppercase;
}

.pagination {
    min-width: 300px;
    float: left;
    outline: black dotted 1px;
}

.pagination li {
    display: inline;
}


h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}